*{
  box-sizing: border-box;
}
body, html, section, main, div, aside {
  margin: 0;
  border: 0;
  padding: 0;
}

header{
  /*height: 100px;*/
  width: 100%;

}

.main-heading{
  height: 300px;
  width:100%;
}

.graphs-section{
  background-color:
  height:500px;
  width:100%;

}
